.c-t{
    width: 100%;
    height:30rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .g-b{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 5rem;
       height: 5rem;
       color: #fff;
       background: #666;
       border-radius: 50%;
       .n-y{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2rem;
          height: 2rem;
          color:#000;
          font-size: 1.2rem;
          background: #fff;
          border-radius: 25%;
       }
    }
    .f-c{
        font-size: 1.2rem;
        margin-top: 1rem;
        .c-red{
            font-size: 1.5rem;
            color:red;    
        }
    }
}